body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  text-align: center;
}

body div {
  text-align: left;
  display: inline-block;
  font-family: "Lora", serif;
}
